<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="float:left">
        <%=prob.name %> Code : <%=prob.code %><br>
    <div class="desc">
        <%=prob.body %>    
    </div><br>
    </div>
    <div style="float:right">
    Status : Accepted
    <form action="/submit" method="post">
        <select name="compilerId" id="">
            <% langs.forEach(function(e){ %>
            <option value=<%=e.id%>><%=e.name %></option>
            <% }) %>
        </select><br>
        <textarea name="source" id="" cols="30" rows="10">

        </textarea><br>
        <input type="hidden" name="problemId" value=<%=problemId %>>
        <input type="submit">
    </form>
    </div>
</body>
</html>