<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav id="topbar">
    <div class="brand-image">
        <span style="color: #6aa0ff;">Sphere</span><span style="color: #db3236;">Engine</span>
    </div>
    <div class="navbar">
        <ul>
            <li><a href="/" class="active">Solve</a></li>
            <li><a href="/admin" >Admin</a></li>
            <li><a href="/create">Add</a></li>
            <li>
                <%if(!user){%><a href="/login">Login</a>
                <% } else {%><a href="/logout">Logout</a><%}%>
            </li>
        </ul>
    </div>
</nav>
<body>
    <div style="float:left">
        <%=prob.name %> <br>Code : <%=prob.code %><br>
    <div class="desc">
        <%-html %>    
    </div><br>
    </div>
    <div style="float:left;margin-left: 100px;">
    Submit Solution :
    <form action="/submit" method="post">
        Language: <select name="compilerId" id="">
            <% langs.forEach(function(e){ %>
            <option value=<%=e.id%>><%=e.name %></option>
            <% }) %>
        </select><br>
        <textarea name="source" id="" cols="70" rows="30">
#include<bits/stdc++.h>
using namespace std;

int main() {
	// your code goes here
	return 0;
}

        </textarea><br>
        <input type="hidden" name="problemId" value=<%=problemId %>>
        <input type="submit">
    </form>
    </div>
</body>
</html>